<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于案例推理的桥梁事故决策系统</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/logo.jpeg">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">



    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">

    <script src="../static/js/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/tags.js"></script>



    <!--=================================================-->

    <!--Demo script [ DEMONSTRATION ]-->
    <script src="../static/js/nifty-demo.min.js"></script>
    <style type="text/css">
    #tagsList {position:relative; width:250px; height:250px; }
#tagsList a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:gray; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#tagsList a:hover { color:#249e92; letter-spacing:2px;}
#search:focus{
    border: 1px solid #249e92;
}
    </style>
    <style>
        #form1 {
        text-align: center;
        margin-top: 50px;
    }

    #form1 select {
        font-size: 20px;
        padding: 5px;
        color: black;
    }

    #form1 button {
        font-size: 20px;
        padding: 5px 5px;
        margin-top: 10px;
        margin-right: 700px;
    }#form2 {
        text-align: center;
        margin-top: 50px;
            margin:0 150px;
    }

    #form2 select {
        font-size: 20px;
        padding: 5px;
        color: black;
    }

    #form2 button {
        font-size: 20px;
        padding: 5px 5px;
        margin-top: 10px;
        margin-right: 700px;
    }
        select {
  margin-right: 15px;
}
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

    </style>

</head>

<body>

    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img src="../static/images/logo.jpeg" alt="Nifty Logo" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">蔡永刚毕设</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">

                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-top-links pull-left">

                        <h4>基于案例推理的桥梁事故决策系统</h4>

                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

					<h4 class="text-main pad-btm bord-btm">相似案例检索及相似度计算</h4>


                </div>
                <div>
    <form class="center" id="form1">
        <label for="incident_category" style="font-size: 25px;color: black">事故分类：</label>
        <select name="incident_category" id="incident_category">
            <option value="碰撞事故">碰撞事故</option>
			<option value="水利事故">水利事故</option>
			<option value="疲劳事故">疲劳事故</option>
			<option value="过载事故">过载事故</option>
			<option value="地震事故">地震事故</option>
			<option value="意外事故">意外事故</option>
			<option value="设计事故">设计事故</option>
			<option value="腐蚀事故">腐蚀事故</option>
			<option value="火灾事故">火灾事故</option>
			<option value="质量问题">质量问题</option>
			<option value="其他事故">其他事故</option>
        </select>
        <label for="incident_reason" style="font-size: 25px;color: black">事故原因：</label>
        <select name="incident_reason" id="incident_reason">
            <option value="船只碰撞">船只碰撞</option>
            <option value="洪水">洪水</option>
            <option value="船只碰撞">船只碰撞</option>
			<option value="洪水">洪水</option>
			<option value="疲劳">疲劳</option>
			<option value="超载">超载</option>
			<option value="冲刷">冲刷</option>
			<option value="汽车碰撞">汽车碰撞</option>
			<option value="地震">地震</option>
			<option value="高温受热膨胀">高温受热膨胀</option>
			<option value="偷工减料">偷工减料</option>
			<option value="意外">意外</option>
			<option value="塌方">塌方</option>
			<option value="河道采砂">河道采砂</option>
			<option value="钢缆腐蚀">钢缆腐蚀</option>
			<option value="装饰开裂">装饰开裂</option>
			<option value="质量问题">质量问题</option>
			<option value="行驶故障">行驶故障</option>
			<option value="限幅涡振">限幅涡振</option>
			<option value="施工堆土">施工堆土</option>
			<option value="设计">设计</option>
			<option value="施工堆土">施工堆土</option>
			<option value="山体滑坡">山体滑坡</option>
			<option value="人为拥挤">人为拥挤</option>
			<option value="强对流天气">强对流天气</option>
			<option value="泥石流">泥石流</option>
			<option value="裂缝">裂缝</option>
			<option value="火灾">火灾</option>
			<option value="火车超高">火车超高</option>
			<option value="非法抽沙">非法抽沙</option>
			<option value="吊杆断裂">吊杆断裂</option>
			<option value="大风">大风</option>
			<option value="冰凌撞击">冰凌撞击</option>
			<option value="爆炸">爆炸</option>
			<option value="其他">其他</option>
        </select>
        <label for="incident_severity" style="font-size: 25px;color: black">事故严重程度：</label>
        <select name="incident_severity" id="incident_severity">
            <option value="基本完好">基本完好</option>
			<option value="轻微损伤">轻微损伤</option>
			<option value="中度损伤">中度损伤</option>
			<option value="严重损伤">严重损伤</option>
			<option value="坍塌">坍塌</option>
        </select>
        <label for="rank_core" style="font-size: 25px;color: black">显示核心层最相似度排名(n)：</label>
        <select name="rank_core" id="rank_core">
            <option value="10" selected>10</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
        </select>

        <br>
        <button type="button" id="submitButton1" onclick="submitForm1('form1')" class="btn btn-primary btn-lg">核心层相似度计算</button>
    </form>
</div>
                <br>
    <div id="result_div" style="display: none;margin: 0 100px;color: black">
        <h2>核心层计算结果:</h2>
        <table id="result_table">
            <tr>
                <th>事故名称</th>
                <th>事故分类</th>
                <th>事故原因</th>
                <th>事故严重程度</th>
                <th>核心层相似度</th>
            </tr>
        </table>
    </div>

<br>
<br>


<div>
    <form class="center" id="form2">
		 <label for="bridge_structure" style="font-size: 25px;color: black">桥梁结构：</label>
            <select name="bridge_structure" id="bridge_structure">
			<option value="梁式桥">梁式桥</option>
			<option value="拱式桥">拱式桥</option>
			<option value="悬索桥">悬索桥</option>
			<option value="组合体系桥">组合体系桥</option>
			<option value="浮桥">浮桥</option>
			<option value="刚架桥">刚架桥</option>
		</select>
        <label for="bridge_material" style="font-size: 25px;color: black">桥梁材料：</label>
            <select name="bridge_material" id="bridge_material">
			<option value="钢筋混凝土桥">钢筋混凝土桥</option>
			<option value="圬工桥">圬工桥</option>
			<option value="木桥">木桥</option>
			<option value="钢桥">钢桥</option>
			<option value="预应力混凝土桥">预应力混凝土桥</option>
			<option value="索桥">索桥</option>
			<option value="混合桥">混合桥</option>
			<option value="复合材料桥">复合材料桥</option>
		</select>
            <label for="accident_location"style="font-size: 25px;color: black">事故发生部位：</label>
            <select name="accident_location" id="accident_location">
			<option value="桥面">桥面</option>
			<option value="桥墩">桥墩</option>
			<option value="桥索">桥索</option>
			<option value="桥底">桥底</option>
			<option value="吊杆">吊杆</option>
			<option value="承重梁">承重梁</option>
			<option value="桥拱">桥拱</option>
			<option value="桥台">桥台</option>
			<option value="桥面箱梁">桥面箱梁</option>
			<option value="桥梁附属结构物">桥梁附属结构物</option>
			<option value="除以上部位之外的桥面上其他部位">桥面上其他部位</option>
			<option value="除以上部分之外的桥面下其他部位">桥面下其他部位</option>
		</select><label for="accident_season" style="font-size: 25px;color: black">事故发生季节：</label>
    <select name="accident_season" id="accident_season">
			<option value="春">春</option>
			<option value="夏">夏</option>
			<option value="秋">秋</option>
			<option value="冬">冬</option>
		</select><label for="accident_time" style="font-size: 25px;color: black">事故发生时段：</label>
    <select name="accident_time" id="accident_time">
        <option value="凌晨 (00:00—5:00)">凌晨 (00:00—5:00)</option>
        <option value="清晨 (5:00-6:00)">清晨 (5:00-6:00)</option>
        <option value="早晨 (6:00-8:00)">早晨 (6:00-8:00)</option>
        <option value="上午 (8:00—11:00)">上午 (8:00—11:00)</option>
        <option value="中午 (11:00—13:00)">中午 (11:00—13:00)</option>
        <option value="下午 (13:00—17:00)">下午 (13:00—17:00)</option>
        <option value="傍晚 (17:00—18:00)">傍晚 (17:00—18:00)</option>
        <option value="晚上 (18:00—24:00)">晚上 (18:00—24:00)</option>
    </select>
    <label for="accident_region" style="font-size: 25px;color: black">事故发生区域：</label>
    <select name="accident_region" id="accident_region">
        <option value="东北区域">东北区域</option>
        <option value="华北区域">华北区域</option>
        <option value="华东区域">华东区域</option>
        <option value="华南区域">华南区域</option>
        <option value="华中区域">华中区域</option>
        <option value="西北区域">西北区域</option>
        <option value="西南区域">西南区域</option>
    </select>
    <label for="accident_location" style="font-size: 25px;color: black">事故发生地点：</label>
    <input type="text" name="accident_site" style="height: 35px;font-size: 20px;color: black" placeholder="到地级市一级">
    <label for="accident_area_level" style="font-size: 25px;color: black">事故发生地区级别：</label>
    <select name="accident_area_level" id="accident_area_level">
        <option value="乡镇">乡镇</option>
        <option value="地级市">地级市</option>
        <option value="直辖市">直辖市</option>
        <option value="县级市">县级市</option>
        <option value="省会城市">省会城市</option>
    </select>
        <label for="rank_zh" style="font-size: 25px;color: black">显示综合最相似度排名(k<=n)：</label>
        <select name="rank_zh" id="rank_zh">
            <option value="5" selected>5</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            <option value="5">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
        </select>
            <br>
             <button type="button" id="submitButton2" onclick="submitForm2('form2')" class="btn btn-primary btn-lg">总相似度计算</button>
    </form></div>

    <div id="result_div2" style="display: none;margin: 0 100px;color: black">
        <h2>综合计算结果:</h2>
        <table id="result_table2">
            <tr>
                    <th>事故名称</th>
                    <th>桥梁结构</th>
                    <th>桥梁材料</th>
                    <th>事故发生部位</th>
                    <th>事故发生季节</th>
                    <th>事故发生时段</th>
                    <th>事故发生区域</th>
                    <th>事故发生地点</th>
                    <th>事故发生地区级别</th>
                    <th>核心层相似度</th>
                    <th>一般层相似度</th>
                    <th>总相似度</th>
            </tr>
        </table>
    </div>
                        <button type="button" id="submitButton1" onclick="redirectToSolution('{{ url_for('solution') }}')"  style=" font-size: 20px;padding: 5px 5px;margin-top: 10px;margin-left: 293px;" class="btn btn-primary btn-lg">进入案例决策</button>

                </div>

                <!--===================================================-->
                <!--End page content-->



            <!--===================================================-->
            <!--END CONTENT CONTAINER-->


            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content" style="width: 241px">

                                <ul id="mainnav-menu" class="list-group">

                                    <li class="list-header"> 系统概述</li>
                                    <li>
                                        <a href="{{ url_for('introduction') }}">
                                            <i class="fa fa-file-text" style="width:24px"></i>
                                            <span class="menu-title">
                                                <span>桥梁事故案例推理系统简介</span>
                                            </span>

                                        </a>


                                    </li>



                                    <!--Category name-->
						            <li class="list-header"> 桥梁事故案例可视化</li>

                                    <!--Menu list item-->


                                    <!--Menu list item-->
                                   <li>
                                        <a href="{{ url_for('search') }}">
                                            <i class="fa fa-search" style="width:24px"></i>
                                            <span class="menu-title">
                                                <span>精确检索桥梁事故案例</span>
                                            </span>

                                        </a>


                                    </li>
                                    <li>
                                        <a href="{{ url_for('get_all_relation') }}">
                                            <i class="fa fa-pie-chart" style="width:24px"></i>
                                            <span class="menu-title">
                                                <span>桥梁事故案例知识图谱概览</span>
                                            </span>

                                        </a>

                                    </li>
                                    <!--Menu list item-->



						            <li class="list-divider"></li>

						            <!--Category name-->
						            <li class="list-header">桥梁运营事故案例推理系统</li>

						            <!--Menu list item-->
						            <li >
						                <a href="{{ url_for('case') }}">
						                    <i class="fa fa-list" style="width:24px"></i>
						                    <span class="menu-title">案例库查看</span>

						                </a>


						            </li>
                                    <li >
						                <a href="{{ url_for('add') }}">
						                    <i class="fa fa-plus-circle" style="width:24px"></i>
						                    <span class="menu-title">新增事故案例</span>

						                </a>


						            </li>
                                    <li >
						                <a href="{{ url_for('find') }}">
						                    <i class="fa fa-search-plus" style="width:24px"></i>
						                    <span class="menu-title">相似案例检索辅助决策</span>

						                </a>


						            </li>
                                    <li >
						                <a href="{{ url_for('solution') }}">
						                    <i class="fa fa-user-plus" style="width:24px"></i>
						                    <span class="menu-title">案例重用</span>

						                </a>


						            </li>

                                </ul>



                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->


        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

           <p class="pad-lft">Copyright&#0169; 2023 蔡永刚  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved </p>

        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
          const submitButton1 = document.getElementById('submitButton1');
          submitButton1.addEventListener('click', function(event) {
            submitForm1(event);  // 调用表单1的提交函数
          });

          const submitButton2 = document.getElementById('submitButton2');
          submitButton2.addEventListener('click', function(event) {
            submitForm2(event);  // 调用表单2的提交函数
          });
        });
    function submitForm1(form1) {
        event.preventDefault(); // 阻止表单默认提交行为
        const form = document.getElementById(form1);
        const formData = new FormData(form);
        const url = '/calculate_similarity';  // 后端处理函数的路由
        const method = 'POST';

        fetch(url, {
            method: method,
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // 处理返回的数据，将结果添加到表格中
            const resultTable = document.getElementById('result_table');
            resultTable.innerHTML = '';  // 清空表格内容

            // 添加表头
            const headerRow = document.createElement('tr');
            const nameHeader = document.createElement('th');
            const categoryHeader = document.createElement('th');
            const reasonHeader = document.createElement('th');
            const severityHeader = document.createElement('th');
            const similarityHeader = document.createElement('th');

            nameHeader.textContent = '事故名称';
            categoryHeader.textContent = '事故分类';
            reasonHeader.textContent = '事故原因';
            severityHeader.textContent = '事故严重程度';
            similarityHeader.textContent = '核心层相似度';

            headerRow.appendChild(nameHeader);
            headerRow.appendChild(categoryHeader);
            headerRow.appendChild(reasonHeader);
            headerRow.appendChild(severityHeader);
            headerRow.appendChild(similarityHeader);
            resultTable.appendChild(headerRow);

            data.forEach(item => {
                const row = document.createElement('tr');
                const nameCell = document.createElement('td');
                const categoryCell = document.createElement('td');
                const reasonCell = document.createElement('td');
                const severityCell = document.createElement('td');
                const similarityCell = document.createElement('td');

                nameCell.textContent = item['事故名称'];
                categoryCell.textContent = item['事故分类'];
                reasonCell.textContent = item['事故原因'];
                severityCell.textContent = item['事故严重程度'];
                similarityCell.textContent = item['核心层相似度'];

                row.appendChild(nameCell);
                row.appendChild(categoryCell);
                row.appendChild(reasonCell);
                row.appendChild(severityCell);
                row.appendChild(similarityCell);
                resultTable.appendChild(row);
            });

            // 显示结果区域
            const resultDiv = document.getElementById('result_div');
            resultDiv.style.display = 'block';
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

     function submitForm2(form2) {
        event.preventDefault(); // 阻止表单默认提交行为
        const form = document.getElementById(form2);
        const formData = new FormData(form);
        const url = '/comprehensive_similarity';  // 后端处理函数的路由
        const method = 'POST';

        fetch(url, {
            method: method,
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // 处理返回的数据，将结果添加到表格中
            const resultTable = document.getElementById('result_table2');
            resultTable.innerHTML = '';  // 清空表格内容

            // 添加表头
            const headerRow = document.createElement('tr');
            const nameHeader = document.createElement('th');
            const structureHeader = document.createElement('th');
            const materialHeader = document.createElement('th');
            const locationHeader = document.createElement('th');
            const seasonHeader = document.createElement('th');
            const timeHeader = document.createElement('th');
            const regionHeader = document.createElement('th');
            const siteHeader = document.createElement('th');
            const area_levelHeader = document.createElement('th');
            const coreHeader = document.createElement('th');
            const gelHeader = document.createElement('th');
            const zHeader = document.createElement('th');


            nameHeader.textContent = '事故名称';
            structureHeader.textContent = '桥梁结构';
            materialHeader.textContent = '桥梁材料';
            locationHeader.textContent = '事故发生部位';
            seasonHeader.textContent = '事故发生季节';
            timeHeader.textContent = '事故发生时段';
            regionHeader.textContent = '事故发生区域';
            siteHeader.textContent = '事故发生地点';
            area_levelHeader.textContent = '事故发生地区级别';
            coreHeader.textContent='核心层相似度';
            gelHeader.textContent='一般层相似度';
            zHeader.textContent='总相似度';

            headerRow.appendChild(nameHeader);
            headerRow.appendChild(structureHeader);
            headerRow.appendChild(materialHeader);
            headerRow.appendChild(locationHeader);
            headerRow.appendChild(seasonHeader);
            headerRow.appendChild(timeHeader);
            headerRow.appendChild(regionHeader);
            headerRow.appendChild(siteHeader);
            headerRow.appendChild(area_levelHeader);
            headerRow.appendChild(coreHeader);
            headerRow.appendChild(gelHeader);
            headerRow.appendChild(zHeader);
            resultTable.appendChild(headerRow);



            data.forEach(item => {
                const row = document.createElement('tr');
                const nameCell = document.createElement('td');
                const structureCell = document.createElement('td');
                const materialCell = document.createElement('td');
                const locationCell = document.createElement('td');
                const seasonCell = document.createElement('td');
                const timeCell = document.createElement('td');
                const regionCell = document.createElement('td');
                const siteCell = document.createElement('td');
                const areaCell = document.createElement('td');
                const coreCell = document.createElement('td');
                const gelCell = document.createElement('td');
                const zCell = document.createElement('td');

                nameCell.textContent = item['事故名称'];
                structureCell.textContent = item['桥梁结构'];
                materialCell.textContent = item['桥梁材料'];
                locationCell.textContent = item['事故发生部位'];
                seasonCell.textContent = item['事故发生季节'];
                timeCell.textContent = item['事故发生时段'];
                regionCell.textContent = item['事故发生区域'];
                siteCell.textContent = item['事故发生地点'];
                areaCell.textContent = item['事故发生地区级别'];
                coreCell.textContent = item['核心层相似度'];
                gelCell.textContent = item['一般层相似度'];
                zCell.textContent = item['总相似度'];

                row.appendChild(nameCell);
                row.appendChild(structureCell);
                row.appendChild(materialCell);
                row.appendChild(locationCell);
                row.appendChild(seasonCell);
                row.appendChild(timeCell);
                row.appendChild(regionCell);
                row.appendChild(siteCell);
                row.appendChild(areaCell);
                row.appendChild(coreCell);
                row.appendChild(gelCell);
                row.appendChild(zCell);
                resultTable.appendChild(row);
            });

            // 显示结果区域
            const resultDiv = document.getElementById('result_div2');
            resultDiv.style.display = 'block';
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
function redirectToSolution(url) {
  // 执行页面跳转
  window.location.href = url;
}
</script>

</body>
</html>